.block-footer{
	padding: 80px 0;
	background-color: #2a2a4d !important;
}
.block-footer a{
    color: #fff
}
.block-footer .bg-white{
     border-radius: 0 !important;   
}
.block-footer .bg-white input{
    height: 40px;
    padding-left: 5px;
    padding-right: 85px;
}
.newsletter-form .btn-outline-secondary{
  position: absolute;
    font-size: 13px;
    display: block;
    top: 4px;
    right: 3px;
    border: 0;
    border-radius: 0;
    background-color: #ff384b !important;  
}